.timerContainer {
    flex-basis: 360px;
}

.timer-triggered {
    color: var(--activeColor);
}

.timerControls {
    margin-block-start: 0.5rem;
    text-align: center;
}

.timerButton {
    background-color: var(--buttonBackground);
    color: var(--textColorWhite);
    padding: 0.5rem 2rem;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

.timerList {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block-start: 1rem;
    margin-inline: auto;
    border: 1px solid black;
    padding: 1rem 0.5rem;
    transition: all 0.3s linear;
    border-radius: 0.5rem;
    background-color: #fff;
}

.timerList ul {
    max-width: 360px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    transition: all 0.3s linear;
}

.timerList ul li {
    flex-basis: calc((100% / 2) - ((0.5rem) / 2));
    list-style-type: none;
    margin: 0;
    padding: 0;
    transition: all 0.3s linear;
    font-size: 14px;
}
